*
{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-image: url('backimg.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100% 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}
.container
{
    position: relative;
    max-width: 500px;
    min-height: 100px;
    width: 100%;
    background-color: grey;
    justify-content: center;
   align-items: center;
    opacity: 0.8;
    border-radius: 10px 0px 10px 0px;
    display: flex;
    

}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px solid black;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 1px solid black;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }